@(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Currency Exchange System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <header>
            Currency Exchange System
        </header>
        <div id="main">
            @content
        </div>
        <div class="messages" id="loading">
            <i class="fa fa-refresh fa-spin"></i>
            Loading data from server
        </div>
        <div class="messages ok" id="load-ok">
            <i class="fa fa-check"></i>
            Data loaded
        </div>

        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.autocomplete.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
